<div data-sly-use.model="com.adobe.aem.media.core.models.header.Header"></div>
<header class="header-class">
    <img src="${model.whiteLogo}" alt="logo">
    <nav>
        <ul data-sly-list.headerMenu="${model.headerLinks}" class="navlinks">
            <li class="header-list"><a href="${headerMenu.navLink @ extension = 'html'}">${headerMenu.navText}</a></li>
        </ul>
        <div class="cart-hdr" data-sly-resource="${'cart' @resourceType = 'media/components/cart'}"></div>
        <div class="login-header" data-sly-resource="${'comp' @resourceType = 'media/components/login'}"></div>
    </nav>
</header>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='header.media'}"/>