<button class="login-button" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">

	<form class="modal-content animate" action="/action_page.php" method="post">
		<div class="container">
			<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="uname" required>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw" required>

			<button class="login-button" type="submit">Login</button>
			<label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
			</label>
		</div>

		<div class="container" style="background-color:#f1f1f1">
			<button type="button" class="registerbtn"><a href="/content/media/us/en/register.html" style="color: #131313">Register</a></button>
			<span class="psw"><a href="#" style="color: #131313">Forgot password?</a></span>
		</div>
	</form>
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='login.media'}"/>
