<sly data-sly-use.model="com.adobe.aem.media.core.models.banner.BannerModel"></sly>
<div class="hero-image" style="background-image:url('${model.bannerImage @ context='styleString'}');" >
    <div class="hero-text">
        <h1 class="banner-Heading">${model.bannerHeading @context='html'}</h1>
        <p class="banner-description">${model.bannerDescription}</p>
        <a href="${model.bannerCtaLink}">
        <button class="banner-button">${model.bannerCtaLabel}</button></a>
    </div>
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='banner.media'}"/>
